body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #BDF4FF;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
}



.navbar-nav .nav-link {
  font-size: 20px;
  margin: 0 15px;
}

.icono-nav {
  width: 35px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.icono-nav:hover {
  transform: scale(1.1);
}

.carousel-text {
  background: #000;
  color: #fff;
  padding: 8px 0;
  padding-top: 15px;
  font-size: 25px;
}

footer {
  background-color: #BDF4FF;
  color: #000000;
  padding: 26px 0;
  font-size: 14px;
}

footer p {
  margin: 0;
}

.icon-redes {
  width: 28px;
  height: auto;
}

.card-custom {
  background-color: #ededed;  
  border-radius: 10%;
  padding-top: 15px;
  padding-bottom: 25px;
}

.card-custom img {
  width: 85%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  margin-bottom: -25px;
}


.card-custom .card-title {
  margin-top: 35px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 55px;
}

.btn-card {
  background: linear-gradient(135deg, #9ee7ff, #b7e5f0);
  border-radius: 12px;
  font-weight: bold;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  display: flex;
  margin-top: 95px;
  margin-right: 35px;
  align-items: center;
  gap: 8px; 
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.btn-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}


.btn-card i {
  font-size: 18px;
}


.catalogo{
  font-size: 30px;
  border-radius: 10px;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: -35px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  background-color: #A0A0A0;
  border: none; 
}

.card-img-top {
  height: 220px; /* ajustá el alto que más te guste */
  object-fit: cover; /* recorta sin deformar */
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}


  @media (max-width: 576px) {
    .faq-container {
      width: 50% !important;
      margin: 0 auto;
    }
  }


  @media(min-width: 576) {}

  @media(min-width: 768px) {
    .position-absolute-fix{
      position: absolute !important;
    }
  }

@media(min-width: 992px){
  .position-absolute-fix{
    position: absolute !important;
  }
}
@media(min-width: 1200px){
  .position-absolute-fix{
    position: absolute !important;
  }
}







